#files being edited
*~

# Object files
*.o

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Executables
task*/*
!task*/*.c
!task*/*.h
!task*/*.sh
!task*/Makefile
!task*/README.md

# Linux
*~
