*.o
*.lib
*.a
*.so
*.o.d
task4-module/.*.*
task4-module/*.mod
task4-module/*.mod.*
task4-module/Module.symvers
task4-module/modules.order
debug/
script/
*/.vscode/
*/.vscode-ctags
task2-bash/release/

